<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/tailwind-output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>忘記密碼</title>
</head>

<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">
    <div id="app" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col border-2">
        <div class="-mx-3">
            <p class="text-center mb-3">忘記密碼</p>
            
        </div>
        <div class="-mx-3 md:flex">
            <div class="md:w-full px-3">
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="userEmail" type="text" placeholder="Email"
                    v-model="email">
            </div>
        </div>
        <button
            class="bg-navbar hover:bg-blue-700 mt-4 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button" @click.prevent="forgetPasswordClick">
            忘記密碼
        </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <!-- 載入 Vue Core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script>
    <!-- 載入 VeeValidate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- Vue 起手式 -->
    <script>
        // API Host Path
        const apiHostPath = 'http://127.0.0.1:5000/api/v1';
        const forgetPasswordAPI = `${apiHostPath}/auths/password/forgot`;

        const app = Vue.createApp({
            data(){
                return {
                    email : ''
                }
            },
            methods:{
                forgetPasswordClick(){
                    const requestBody = {
                        "email" : this.email
                    }
                    console.log('forgetPasswordClick() ...');
                    console.log(requestBody);
                    axios.post(forgetPasswordAPI, requestBody)
                    .then((res) => {
                        console.log('忘記密碼 執行成功 ...');
                        console.log(res);
                        // Todo : 顯示 成功訊息， 轉頁
                    })
                    .catch((err) => {
                        console.log('忘記密碼 執行失敗 ...');
                        console.log(err);
                        console.log(err.response);
                        // Todo : 顯示 錯誤訊息
                    });
                },
                initTestData() {
                    this.email = 'chinan1112@gmail.com'
                }
            },
            mounted(){
                this.initTestData();
            }
        });
        // 綁定 VeeValidate 進入 全域物件
        app.component('VForm', VeeValidate.Form);
        app.component('VField', VeeValidate.Field);
        app.component('ErrorMessage', VeeValidate.ErrorMessage);
        // 將 Vue 綁定到 <div id="app"> 上面
        app.mount('#app');

    </script>
</body>
</html>