<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/tailwind-output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>活動頁面瀏覽</title>
</head>

<body>
    <div class="max-w-screen-lg mx-auto py-4 px-4 sm:px-6 lg:px-8">

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <!-- Main Content -->
            <main class="p-4 sm:p-6">
                <div class="mb-1">
                    <a href="#" class="link-secondary text-red400">瀏覽活動</a>>>
                    <a href="#" class="link-secondary">選定票卷</a>>>
                    <a href="#" class="link-secondary">確認購票資訊</a>
                </div>
                <div class="mb-1">
                    <a href="#" class="link-secondary">首頁</a>/
                    <a href="#" class="link-secondary">演唱會</a>/
                    <a href="#" class="link-secondary">POP! POP! POP! 流行音樂互動展</a>
                </div>
                <!-- Event Image -->
                <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
                    alt="Event Image" class="w-full rounded-lg mb-4">

                <!-- Event Description -->
                <h1 class="text-3xl mb-2 font-bold">POP! POP! POP! 流行音樂互動展 ＠ 高雄流行音樂中心</h1>
                <p> <span class="material-icons">
                        place
                    </span>高雄流行音樂中心｜音浪塔｜高音塔4-6樓 / 高雄市鹽埕區真愛路1號</p>

                <p> <span class="material-icons">
                        calendar_month
                    </span>星期四, 五月 25, 2023</p>
                    <p> <span class="material-icons">
                        diversity_3
                        </span>主辦單位:XXX</p>
                        <p> <span class="material-icons">
                            local_phone
                            </span>04-23939-889-2526</p>
                            <p> <span class="material-icons">
                                local_post_office
                                </span>starbust@gmail.com</p>
                    <h1 class="text-2xl mb-2 font-bold mt-3">簡介</h1>

                <p class="mt-3 text-gray-700 leading-relaxed mb-6">「POP! POP! POP! 流行音樂互動展」將改變你對聽音樂、看展覽的既定想法。
                    這裡是“音樂的發聲地”，也是所有音樂起源的開始；一段段歷久不衰的流行金曲，承載著許多人的共同回憶。</p>

                <!-- Event Location and Time -->
                <p class="text-gray-700 leading-relaxed mb-6">本常設展透過「全民策展」（Co-curation）概念，讓你來決定展覽內容；
                    也藉由「南方在地」（Locality of the sound）架構，讓你從新認識南方的音樂模樣；
                    更結合手機載具的科技運用，不管是看、聽、玩、互動、下載及分享，
                    巧妙地在多樣的場域間，達到「一人一機一境」的互動觀展體驗</p>
                    <div class="flex flex-col md:flex-row gap-8">
                    <div >
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.955485801612!2d120.28389129678956!3d22.6181374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e037fc2013e71%3A0xc61249aec47e0cd1!2z6auY6ZuE5rWB6KGM6Z-z5qiC5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1683081781562!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="w-full md:w-1/4 p-4  shadow-lg bg-navbar text-white">
                    <h2 class="text-2xl font-bold mb-4">高雄流行音樂中心</h2>
                    <ul class="list-disc pl-4">
                      <li>高雄市鹽埕區真愛路1號</li>
                    </ul>
                  </div>
                </div>
                <div class="flex flex-col md:flex-row gap-8 mt-3">
                    <table class="table-auto w-full border-x border-b border-gray30">
                        <thead>
                          <tr class="bg-gray30">
                            <th>票種</th>
                            <th>販售時間</th>
                            <th>售價</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr class="border-t border-gray30 text-center">
                                <td>成人票</td>
                                <td>即日起 ~ 2023/03/30 20:00(+0800)</td>
                                <td>NT$ 400</td>
                            </tr>
                        </tbody>
                      </table>
                   </div>
                
                      <div class="flex justify-end">
                    <button
                    class="bg-navbar hover:bg-blue-700 mt-4 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    前往購票
                </button>
            </div>
            </main>
        </div>
    </div>
</body>

</html>