<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/tailwind-output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../jstoolchain/css/nav.css">
    <title>活動頁面瀏覽</title>
</head>

<body>
    <div class="max-w-screen-lg mx-auto py-4 px-4 sm:px-6 lg:px-8">

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <!-- Main Content -->
            <main class="p-4 sm:p-6">
                <div class="mb-1">
                    <a href="#" class="link-secondary ">瀏覽活動</a>>>
                    <a href="#" class="link-secondary text-red400">選定票卷</a>>>
                    <a href="#" class="link-secondary">確認購票資訊</a>
                </div>
                <div class="mb-1">
                    <a href="#" class="link-secondary">首頁</a>/
                    <a href="#" class="link-secondary">演唱會</a>/
                    <a href="#" class="link-secondary">POP! POP! POP! 流行音樂互動展</a>
                </div>
                <!-- Event Image -->
                <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
                    alt="Event Image" class="w-full rounded-lg mb-4">
                <p class="border">
                    <span class="text-red400">重要資訊: </span>
                    <span>因為連日大雨導致地震使得場地受損，須待場地人員確認安全後才可使用，活動退票或擇期(根本不會)等資訊會再擇日公布。
                    </span>
                </p>

                <!-- Event Description -->
                <h1 class="text-3xl mb-2 font-bold">POP! POP! POP! 流行音樂互動展 ＠ 高雄流行音樂中心</h1>
                <p> <span class="material-icons">
                        place
                    </span>高雄流行音樂中心｜音浪塔｜高音塔4-6樓 / 高雄市鹽埕區真愛路1號</p>

                <p> <span class="material-icons">
                        calendar_month
                    </span>星期四, 五月 25, 2023</p>
                <p> <span class="material-icons">
                        diversity_3
                    </span>主辦單位:XXX</p>
                <p> <span class="material-icons">
                        local_phone
                    </span>04-23939-889-2526</p>
                <p> <span class="material-icons">
                        local_post_office
                    </span>starbust@gmail.com</p>

                <img src="../../static/img/2023台北小巨蛋票價圖_0419.jpg" alt="Event Image" class="w-full rounded-lg mb-4">
                <div class="flex flex-col md:flex-row gap-8 mt-3">
                    <table class="table-auto w-full border-x border-b border-gray30">
                        <thead>
                            <tr class="bg-gray30">
                                <th class="px-4 py-2">票種</th>
                                <th class="px-4 py-2">狀態</th>
                                <th class="px-4 py-2">售價</th>
                                <th class="px-4 py-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-t border-gray30 text-center">
                                <td class="px-4 py-2">成人票A區</td>
                                <td class="px-4 py-2">電腦劃位</td>
                                <td class="px-4 py-2">NT$<span class="price">200</span></td>
                                <td class=" px-4 py-2 w-1/4">
                                    <div class="flex items-center justify-center">
                                        <button class="border border-gray-500 rounded-l-lg px-2 py-1 bg-gray-200"
                                            data-action="decrement">-</button>
                                        <input type="number"
                                            class="quantity border border-gray-500 text-center w-16 py-1 price" min="0"
                                            value="0">
                                        <button class="border border-gray-500 rounded-r-lg px-2 py-1 bg-gray-200"
                                            data-action="increment">+</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-t border-gray30 text-center">
                                <td class="px-4 py-2">成人票B區</td>
                                <td class="px-4 py-2">電腦劃位</td>
                                <td class="px-4 py-2">NT$<span class="price">300</span></td>
                                <td class=" px-4 py-2 w-1/4">
                                    <div class="flex items-center justify-center">
                                        <button class="border border-gray-500 rounded-l-lg px-2 py-1 bg-gray-200"
                                            data-action="decrement">-</button>
                                        <input type="number"
                                            class="quantity border border-gray-500 text-center w-16 py-1 price" min="0"
                                            value="0">
                                        <button class="border border-gray-500 rounded-r-lg px-2 py-1 bg-gray-200"
                                            data-action="increment">+</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>                                
                                <td colspan="3" class="text-right py-2">總計：</td>
                                <td class="py-2">
                                    <span id="total">0</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <div class="flex justify-end">
                    <div class="flex items-center mt-4 mr-2">
                        <input id="terms" type="checkbox" class="form-checkbox h-5 w-5 text-gray-600">
                        <label for="terms" class="ml-2 block text-gray-900 text-sm">
                            我已閱讀並同意
                            <a href="../activity/terms.html" class="link-secondary text-red400">購票須知</a>
                        </label>
                    </div>

                    <button
                        class="bg-navbar hover:bg-blue-700 mt-4 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                        付款
                    </button>
                </div>
            </main>
        </div>
    </div>
    <script src="../../static/js/purchase.js"></script>
</body>

</html>